#modalBG {
  background: rgba(56, 56, 56, 0.75);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
#resultsParent {
  margin: auto;
}

.formSection {
  margin: auto;
  background: white;
}

#exitBtn {
  position: absolute;
  top: 3px;
  right: 3px;
}

#editForm {
  box-shadow: 1px 1px 10px 3px black;
  background: white;
  font-weight: bold;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 5% auto;
  position: relative;
}

label {
  font-weight: bold;
  margin-right: 3px;
  background: white;
}
.filterInput {
  border: 1px solid gray;
  text-align: center;
  /* width: 40%; */
  font-weight: bold;
  margin: 1px auto;
}

.singleSourceResult {
  font-weight: bold;
  color: white;
  background: rgba(52, 152, 219, 1);
  border: 1px solid black;
  padding: 6px;
  margin: 1px;
}

.singleSourceResult:hover {
  background: white;
  color: orange;
}

.formSection {
  margin: 3px auto;
}
#updateBtn {
  margin: 5px;
  padding: 9px;
  border: 0;
}
#updateBtn,
#exitBtn {
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px 1px black;
  background: rgba(52, 152, 219, 1);
  border: 0;
}

@media screen and (min-width: 1000px) {
   #editForm {
   font-size: 20px;
  }
  #resultsParent {
    width: 75%;
    margin: auto;
    /* top: 50%; */
  }

  #modalBG{
    height: 100vh;
  }
}