

#startScreen {
  text-align: center;
}

.main {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.initialView {
  height: 100vh;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.overlay-loader {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  animation-name: rotateAnim;
  -o-animation-name: rotateAnim;
  -ms-animation-name: rotateAnim;
  -webkit-animation-name: rotateAnim;
  -moz-animation-name: rotateAnim;
  animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.loader div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.loader div:nth-child(odd) {
  border-top: none;
  border-left: none;
}
.loader div:nth-child(even) {
  border-bottom: none;
  border-right: none;
}
.loader div:nth-child(2) {
  border-width: 4px;
  left: 0px;
  top: -4px;
  width: 24px;
  height: 24px;
}
.loader div:nth-child(3) {
  border-width: 4px;
  left: -1px;
  top: 3px;
  width: 36px;
  height: 36px;
}
.loader div:nth-child(4) {
  border-width: 6px;
  left: -1px;
  top: -4px;
  width: 56px;
  height: 56px;
}
.loader div:nth-child(5) {
  border-width: 6px;
  left: -1px;
  top: 4px;
  width: 62px;
  height: 62px;
}
.loader div:nth-child(6) {
  border-width: 8px;
  left: 0px;
  top: -4px;
  width: 78px;
  height: 78px;
}
.loader div:nth-child(7) {
  border-width: 8px;
  left: 0px;
  top: 6px;
  width: 98px;
  height: 98px;
}
@keyframes rotateAnim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-o-keyframes rotateAnim {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes rotateAnim {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotateAnim {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
h1 {
  color: white;
  font-size: 45px;
  margin: auto;
  width: fit-content;
  border-bottom: 3px solid orange;
}
@media screen and (min-width: 500px) {
  .column {
    display: flex;
    transition: all 1s; /* min-height: 600px; */
    flex-direction: column;
    justify-content: center;
  }
  .columnParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
 to bottom,
 #243b55,
 #141e30
 );
  }
}
@media screen and (min-width: 750px) {
  .columnParent {
    width: 75%;
    margin: auto;
    padding: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    height: 100vh;
  }
  h1 {
    font-size: 75px;
  }
  .columnParent {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    /* width: 90%; */
    
  }
  .column {
    width: 33.33%;
  }
}
