
.networkBtns{
    margin: auto;
}
.networkBtns > button {
    width: 25%;
}

@media screen and (min-width: 645px) {
    /* hide mobile oriented buttons on larger screens */
    .networkBtns{
        display: none;
    }
}