.column{
  margin: 10px auto;
}

.columnGroup-enter {
  opacity: 0.01;
}

.columnGroup-enter.columnGroup-enter-active {
  opacity: 1;
  transition: opacity 0.1ms ease-in;
}

.columnGroup-leave {
  opacity: 1;
}

.columnGroup-leave.columnGroup-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* fullscreen desktop */

@media screen and (min-width: 1200px) {
  .column:hover {
    width: 42%;
    position: relative;
  }

  .hidden {
    display: inline-block;
  }
}
