.searchForm{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.initialForm{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.initialForm > button, .searchForm > button{
    width: fit-content;
    /* margin-left: 3px; */
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.initialForm > button{
    height: 55px;
    font-size: 30px;

}
.searchForm > button{
    padding-right: 10px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
    color: white;
    background: #3498db;
    transition: .5s;
}

.searchForm > button:hover{
    background: orangered;
}


/* initial size of search text input */
.initialSize{
    width: 95%;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    height: 55px;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
}

/* size of input after a search has been sent */
.searchedSize{
    margin: auto;
    font-size: 15px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.initialSizeBtn{
    background: #3498db;
    transition: .4s;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.initialSizeBtn:hover{
    background: orangered;
}

@media screen and (min-width: 1000px) {

.initialSize{
    width: 50%;
    font-size: 30px;
}
.initialSizeBtn{
    display: inline-block;
    margin-left: 5px;
}
}