.searchForm {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.loading {
  animation: 0.5s infinite ease-out rotateEdit;
}

@keyframes rotateEdit {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.searchForm {
  margin-bottom: 5px;
  width: 100%;
}
.searchForm > #filterSearchBtn {
  font-size: 20px;
}

#searchCog {
  color: orange;
  position: relative;
  top: 10px;
  font-size: 50px;
}

.initialForm {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.initialForm > button,
.searchForm > button {
  padding: 0 5px;
  border: 0;
}

.initialForm > button {
  height: 55px;
  background: #3498db;
  font-size: 30px;
}
.searchForm > button {
  padding: 0 10px;
  height: 35px;
  color: white;
  transition: 0.5s;
}

.searchForm > button:hover {
  background: rgba(52, 152, 219, 1);
}

/* initial size of search text input */
.initialSize {
  margin: auto;
  text-align: center;
  /* width: 55%; */
  /* display: block; */
  font-size: 25px;
  height: 55px;
  border: 0;
  padding: 0 5px;
}
#filterSearchBtn {
  margin-right: 2px;
  background: #3498db;
  margin: 0 2px;
  font-size: 25px;
}
.initialSizeBtn {
  width: 30%;
  display: inline-block;
}

/* size of input after a search has been sent */
.searchedSize {
  font-size: 20px;
  text-align: center;
  margin: auto;
  height: 35px;
  border: 0;
  width: 45%;
  padding: 0 5px;
}

.initialSizeBtn {
  color: white;
  background: #3498db;
  transition: 0.4s;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.initialSizeBtn:hover {
  background: #3498db;
}

#initialCog {
  display: block;
  margin: 30px auto;
  color: orange;
  position: relative;
  top: 10px;
  font-size: 125px;
}
.searchedSizeBtn {
  background: #3498db;
  font-size: 20px;
}
#searchCog {
  margin: 2px;
}

@media screen and (min-width: 1000px) {
  .initialSize {
    width: 30%;
    font-size: 30px;
  }
  .initialSizeBtn {
    width: 10%;
    display: block;
  }
  .searchForm {
    width: 70%;
  }

  .searchForm > button {
    padding: 1px 0;
    height: 5vh;
    font-size: 20px;
    color: white;
    width: 13.5%;
    background: #3498db;
    transition: 0.5s;
  }

  .searchedSize {
    margin: auto;
    font-size: 20px;
    height: 5vh;
    width: 35%;
    text-align: center;
    padding: 0 5px;
  }
  #filterSearchBtn {
    width: 5%;
    font-size: 30px;
    color: white;
    background: #3498db;
    transition: 0.5s;
  }

  #filterIcon {
    font-size: 20px;
  }
}
