.headline {
  font-size: 20px;
  height: 25px;
  margin-top: 2px;
  margin-bottom: 3px;
  overflow: -webkit-paged-x;
  overflow-x: hidden;
  border-bottom: 1px solid gray;
}

.mobileHideBtns {
  display: none;
}

.mobileShowBtns {
  display: block;
}

.expanded {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.35);

  overflow: -webkit-paged-x;
  overflow-x: hidden;
  height: fit-content;
  border-bottom: 1px solid gray;
}
.headlineLink {
  margin: auto;
  margin-bottom: 3px;
  display: inline-block;
  width: 75%;
  color: white;
  vertical-align: middle;
  transition: 0.25 ease-in-out;
}
.headlineLinkBtn {
  /* display: none; */
  color: #3498db;
  transition: ease-in-out 0.5s;
  border: 0;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0);
}

.headlineLinkBtn:hover {
  color: white;
}
.description {
  margin: 5px;
  font-size: 15px;
  color: white;
}

.mobileExpandBtn {
  background: rgba(0, 0, 0, 0);
  float: right;
  border: 0;
  color: white;
  margin: 0;
}

.mobileExpandBtn:focus{
  outline: none;
}

.svg-inline--fa {
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .mobileHideBtns {
    display: block;
  }
  .mobileExpandBtn {
    display: none;
  }
  .headline {
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 20px;
    height: auto;
    margin: 2px;
    max-height: 45px;
    transition: ease-out 0.5s;
    transition-delay: 0.25s;
  }
  .headline:hover {
    background: rgba(0, 0, 0, 0.55);
    max-height: 17vh;
    overflow: auto;
  }

  .headlineLink {
    width: fit-content;
  }

  .linkContainer {
    text-align: center;
    margin: auto;
  }

  .headline:hover .borderDiv {
    opacity: 1;
    width: 100%;
  }
  .headline:hover .hideShow {
    display: inline-block;
  }
  .headline:hover .opinion {
    display: inline-block;
  }
  .borderDiv {
    opacity: 0;
    margin: auto;
    width: 0%;
    border: 1px solid orange;
    transition-delay: 0.25s;
    transition: 0.5s;
  }

  .hideShow {
    transition: 1s;
  }
  .description {
    margin: auto;
    font-size: 20px;
  }
}
